.main-conatiner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todo-conatiner{
    width: 65%;
    background-color: aqua;
    height: 500px;
}
.sub-conatiner{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.project-summary{
 
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
   margin-bottom: 10px;
}

.member-summary{
   background-color: #fff;
   border-radius: 10px;
}
/* .task-summary{
    height: 400px;
    background-color: rgb(25, 38, 56);
} */
.css-18z6q0m-MuiList-root{
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
      
    /* Track */
    ::-webkit-scrollbar {
    background-color: #474141;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(2, 95, 202);
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 151, 236); 
    }