.popup-box {
  position: fixed;
  background: #00000050;
  /* width: 150vh; */
  height: 100vh; 
  top: 0;
  left: 0;
}
.box {
  position: relative;
  width: 70%;
  margin-left: 25%;
  height: auto;
  max-height: 70vh;
  margin-top: 20%;
  margin-left: 40%;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid rgb(255, 254, 254);
  overflow: auto;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}