.main-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
   /* // flex-direction: column; */
}
.tag-conatiner{
    
}

.listItem{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chipleader{
    width: 80px;
    font-size: 10px;
    background-color: rgb(60, 162, 221);
}
.Content{
    padding-left: 10px;
}

.graph{
    margin-top: -20px;
}