.pendingwork{
    width: 100%;
    /* background-color: #fff; */
   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.cardpending{
    width: 100%;
    /* height: 40px; */
    background-color: rgb(168, 164, 164);
    /* border-radius: 10px; */
    height: 100px;
    padding-bottom: 20px;
    text-align: center;

}
.summarywork{
    width: 100%;
    background-color: #fff;
    /* border-radius: 10px; */
}